* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
}
.navbar {
  display: flex;
  background-color: black;
  justify-content: space-between;
}
.navbar .icons,
.navbar .search {
  padding: 10px;
}
.navbar .icons a,
.navbar .search a {
  padding: 10px 20px;
  color: white;
}
.navbar .icons a:hover,
.navbar .search a:hover {
  color: black;
  background: #ddd;
}
.header {
  background-color: white;
  text-align: center;
  padding: 48px;
}
.header h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Oswald";
}
.header h3 {
  padding: 20px;
  font-family: "Oswald";
}
.home {
  background: linear-gradient(rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2)), url(./images/image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 160vh;
  display: flex;
  align-items: center;
}
.home .detail {
  color: white;
  padding: 20px;
  margin-left: 40px;
}
.home .detail .nameh1 {
  font-family: "Oswald";
  font-size: 3rem;
  font-weight: bold;
}
.home .detail .valueh1 {
  font-family: "Oswald";
  font-size: 5rem;
  font-weight: bold;
}
.home .detail a {
  background-color: #ddd;
  opacity: 0.6;
  text-decoration: none;
  padding: 15px;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}
.home .detail a:hover {
  opacity: 1;
}
.blog {
  display: flex;
  background-color: #ddd;
}
.left {
  margin: 20px;
  flex: 60%;
}
.card {
  text-align: center;
  background-color: white;
}
.center {
  padding: 20px;
}
.left img {
  padding: 20px;
}
.left .text {
  text-align: justify;
  padding: 20px;
}
.left .engage {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 20px 0;
}
.left .engage a {
  color: black;
  text-decoration: none;
  border: 1px solid #ddd;
  padding: 10px;
  font-weight: bold;
}
.left .engage a:hover {
  background: #ddd;
}
.right {
  flex: 40%;
  margin: 20px 20px 20px 0;
}
.container1 {
  background-image: url(./images/img.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: relative;
}
.describe {
  background-color: black;
  color: white;
  text-align: justify;
  padding: 10px;
  position: absolute;
  bottom: 0;
}
.container2 {
  margin-top: 40px;
  background: white;
}
.postdetails {
  background-color: black;
  color: white;
  padding: 10px;
}
.items {
  display: block;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  border: 1px solid #aaa;
  align-items: center;
}
.items .left_img {
  float: left;
  margin-right: 10px;
}
.items:hover {
  background-color: #f1f1f1;
}
.container3 {
  margin-top: 40px;
  background-color: white;
  height: 200px;
}
.container3 h3 {
  background-color: black;
  color: white;
  padding: 10px;
}
.add {
  padding: 10px;
  text-align: center;
  margin: 10px;
  height: 133px;
  background-color: #aaa;
}
.container4 {
  margin-top: 40px;
  background-color: white;
}
.container4 h3 {
  background-color: black;
  color: white;
  padding: 10px;
}
.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}
.tags > div {
  padding: 5px;
  background-color: #ddd;
  text-align: center;
  margin: 10px;
  font-size: 10px;
}
.inspiration {
  margin-top: 40px;
}
.inspiration h3 {
  background-color: black;
  color: white;
  padding: 10px;
}
.inspirimg {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 20px;
  justify-content: space-between;
}
.inspirimg > img {
  width: 220px;
  margin: 5px;
}
.followme {
  margin-top: 40px;
}
.followme h3 {
  background-color: black;
  color: white;
  padding: 10px;
}
.followme .icons {
  background-color: white;
  padding: 10px;
}
.followme .icons a {
  padding: 10px;
  color: black;
}
.subscribe {
  margin-top: 40px;
}
.subscribe h3 {
  background-color: black;
  color: white;
  padding: 10px;
}
.contact {
  background-color: white;
  padding: 10px;
}
input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
}
input[type="submit"] {
  background-color: red;
  color: white;
  border: none;
}
input[type="submit"]:hover {
  background-color: #ddd;
  color: black;
}
@media screen and (max-width: 484px) {
  .navbar {
    display: none;
  }
  .home {
    height: 80vh;
  }
  .blog {
    display: block;
    width: 100%;
  }
  .right {
    margin-left: 20px;
  }
  .inspirimg {
    display: block;
  }
  .inspirimg > img {
    width: 285px;
  }
}
